- if @current_user_is_owner
  %h1 Hello #{@owner_user.first_name} #{@owner_user.last_name}
  
  %h2 These are your fundraisers:
  
- else
  %h1 #{@owner_user.first_name} #{@owner_user.last_name}'s Fundraisers

%ul
  - @fundraisers.each do |fundraiser|
    %li
      %a{ href: user_fundraiser_path( @owner_user, fundraiser )} #{fundraiser.fundraiser_name}

- if @current_user_is_owner
  %h2 Fill out the form below to create a new fundraiser:

  = render '/fundraisers/new_fundraiser_form'