- if @current_user_is_owner
  %h1 Hello #{@owner_user.first_name} #{@owner_user.last_name}
  
  %h2 These are your fundraisers:
  
- else
  %h1 #{@owner_user.first_name} #{@owner_user.last_name}'s Fundraisers

%ul
  - @fundraisers.each do |fundraiser|
    %li
      %strong
        %a{ href: user_fundraiser_path( @owner_user, fundraiser ) } #{fundraiser.fundraiser_name}
      ( Goal: #{ number_to_currency( fundraiser.fundraising_goal ) } - #{fundraiser.percent_of_goal_raised}% raised )

- if @current_user_is_owner
  %h2 Fill out the form below to create a new fundraiser:

  = render '/fundraisers/new_fundraiser_form'